{% extends 'cinemas/base.html' %}
{% block content %}

<h1>Meus Tickets Ativos</h1>
    
    {% if active_tickets %}
        <table>
            <thead>
                <tr>
                    <th>Número do Assento</th>
                    <th>Tipo de Ticket</th>
                    <th>Status</th>
                    <th>Preço</th>
                    <th>Data da Compra</th>
                    <th>Data da Sessão</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in active_tickets %}
                    <tr>
                        <td>{{ ticket.seatNumber }}</td>
                        <td>{{ ticket.ticketType }}</td>
                        <td>{{ ticket.get_status_display }}</td>
                        <td>{{ ticket.price }}</td>
                        <td>{{ ticket.purchasedAt }}</td>
                        <td>{{ ticket.session.date }}</td>
                    </tr>
                    <td>
                        {% if ticket.status == 'PENDING' %}
                            <form action="{% url 'payTicket' ticket.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Pagar Ticket</button>
                            </form>

                            <!--<form action="{% url 'cancelTicket' ticket.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Cancelar Ticket</button>
                            </form>-->
                        {% else %}
                            Botão de refunding
                        {% endif %}
                    </td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Você não possui tickets ativos no momento.</p>
    {% endif %}

{% endblock content %}