
{% extends 'cinemas/base.html' %}

{% block content %}
<h1 style="color: aliceblue;">Ingressos para {{ session.movie.title }} - {{ session.date }}</h1>
<div class="container">
    <div class="card-container">
        {% for ticket in tickets %}
        <div class="card">
            Assento: {{ ticket.seatNumber }}<br>
            {% if ticket.is_reserved %}
            <h4 style="color: crimson;">Status: INDISPONÍVEL</h4>
            <h4>Tipo de Ingresso: {{ ticket.get_ticketType_display }}</h4>
            {{ticket.status}}
            {% else %}
            <h4 style="color: darkgreen;">
                Status: DISPONÍVEL 
                {{ticket.status}}
            </h4>
            <a href="{% url 'sessionTicket' ticket.id %}">comprar</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
