{% extends 'cinemas/base.html' %}
{% block content %}

<h1>Todos os Meus Tickets</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if tickets %}
    {% for ticket in tickets %}
    <div class="ticket">
        <div class="item">
            <div class="item-right">
              <h2 class="num">{{ticket.session.date}}</h2>
              <p class="day">Assento {{ticket.seatNumber}}</p>
              <span class="up-border"></span>
              <span class="down-border"></span>
            </div> 
            
            <div class="item-left">
                {% if ticket.paid %}
                    <p class="event" style="color: rgb(200, 10, 120);">Ticket pago!</p>
                {% elif ticket.status == 'PENDING' %}
                <div style="display: flex; justify-content: space-evenly; margin-bottom: 15px;">
                    <button><a href="{% url 'payTicket' ticket.id %}" style="text-decoration: none; color: aliceblue; font-weight: bold;">PAGAR</a></button>

                    <form action="{% url 'cancelTicket' ticket.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" style="background-color: darkgray;">Cancelar Ticket</button>
                    </form>
                </div>
                {% else %}
                    <p class="event" style="color: rgb(200, 10, 120); font-size: 14px;">Ticket cancelado em: {{ ticket.cancelledAt }}</p>
                {% endif %}
              <h2 class="title">{{ticket.session.movie.title}}</h2>
              
              <div class="sce">
                <div class="icon">
                  <i class="fa fa-table"></i>
                </div>
                <p>R${{ ticket.price }} (TIPO: {{ ticket.ticketType }})<br/> {{ticket.session.hour}}</p>
              </div>
              <div class="fix"></div>
              <div class="loc">
                <div class="icon">
                  <i class="fa fa-map-marker"></i>
                </div>
                <p>Status: {{ ticket.get_status_display }} <br/> {{ticket.session.cinema}}</p>
              </div>
              <div class="fix"></div>
              {% if ticket.status != 'CANCELLED' %}
                  <button><a href="{% url 'newReview' ticket.id %}" style="text-decoration: none; color: whitesmoke;">Adicionar review</a></button>
              {% endif %}
              <button class="ticket-session"><a href="{% url 'tickets' ticket.session.id %}" style="text-decoration: none; color: whitesmoke;">Visualizar sessão</a></button>
            </div> 
          </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Você não possui tickets.</p>
    {% endif %}

{% endblock content %}