 {% extends 'cinemas/base.html' %}

{% block content %}

<div class="container">
    <div class="movie">
        <h3 style="color: aliceblue;">{{movie.title}}</h3>
        <h5 style="color: antiquewhite;">{{movie.plot}}</h5>
        <h5 style="color: antiquewhite;">{{movie.duration}} min</h5>
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'deleteMovie' movie.id %}">delete movie</a>
        {% endif %}
        <img src="{{movie.poster}}">
        {% for review in reviews %}
            <h2 style="color: aliceblue;">{{review.profile.user.username}}</h2>
            <h4 style="color: aliceblue;">{{review.rate}}</h4>
            <h4 style="color: aliceblue;">{{review.comment}}</h4>
            <a href="{% url 'editReview' review.id %}">editar review</a>
            <a href="{% url 'deleteReview' review.id %}">deletar review</a>
        {% endfor %}
    </div>
</div>

{% endblock %}
