{% extends 'cinemas/base.html' %}

{% block content %}

<h2 style="text-align: center; color:ghostwhite; font-family: 'Lexend', sans-serif;">Todos os filmes</h2>
<div class="movies-screen">
    {% for movie in movies %}
    <div class="main_card">
        <div class="card_left">
            <div class="card_details">
                <h1><a href="{% url 'movie' movie.id %}" style="font-size: 26px;">{{movie.title}} ({{movie.year}})</a></h1>
                <p class="disc">{{movie.plot}}</p>
                <a href="{% url 'movie' movie.id %}">Read More</a>
                <div class="card_cat">
                    <p class="year">{{movie.year}}</p>
                    <p class="genre">{{movie.genre1}}</p>
                    <p class="time">{{movie.duration}} minutos</p>
                </div>
            </div>
        </div>
        <div class="card_right">
            <div class="img_container">
                <a href="{% url 'movie' movie.id %}"><img src="{{movie.poster}}"></a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="card">
        <p>Não há filmes registrados</p>
    </div>
    {% endfor %}
</div>

{% if user.is_superuser or user.is_staff %}
    <a class="menu2" href="{% url 'newmovie' %}">Adicionar novo filme</a>
{% endif %}

{% endblock %}
