 {% extends 'cinemas/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container">
    <div class="movie">
        <img src="{{movie.poster}}">
        <div class="movie-info">
            <h3 style="color: aliceblue;">{{movie.title}} ({{movie.year}})</h3>
            <h5>{{movie.plot}}</h5>
            <h5>{{movie.duration}} minㅤㅤ|ㅤㅤ{{movie.genre1}} </h5>
            <div style="display: flex; justify-content: center;">
                <button onclick="window.location.href='{{ movie.trailer_url }}'" style="font-weight: bold;">
                    Watch Trailerㅤ<i class="fas fa-play" style="margin-right: 8px;"></i> 
                </button>
            </div>
            {% if user.is_superuser or user.is_staff %}
            <a class="menu2" href="{% url 'deleteMovie' movie.id %}">delete movie</a>
            {% endif %}
        </div>
    </div>
    <div class="review-container">
        <div>
            {% for review in reviews %}
            <h2 style="color: aliceblue;">{{review.profile.user.username}}</h2>
            <h4 style="color: aliceblue;">{{review.rate}}</h4>
            <h4 style="color: aliceblue;">{{review.comment}}</h4>
            <a href="{% url 'editReview' review.id %}">editar review</a>
            <a href="{% url 'deleteReview' review.id %}">deletar review</a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
