 {% extends 'cinemas/base.html' %}

{% block content %}

<div class="container">
    <div class="movie">
        <h3 style="color: aliceblue;">{{movie.title}}</h3>
        <h5 style="color: antiquewhite;">{{movie.plot}}</h5>
        <h5 style="color: antiquewhite;">{{movie.duration}} min</h5>
        {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'deleteMovie' movie.id %}">delete movie</a>
        {% endif %}
        <img src="{{movie.poster}}">
    </div>
</div>

{% endblock %}
