/*lexend e manrope*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000015;
}

ul { 
  margin: 20px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}

li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
}

.menu {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: "Manrope", sans-serif;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.menu2 {
  color: #848282;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-family: "Manrope", sans-serif;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.menu:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.menu2:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #717171;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after { 
  width: 100%; 
  left: 0; 
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 15px;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    background-color: #f2f2f6;
    border: 1px solid #ddd;
    border-radius: 0.6rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    overflow: hidden;
    padding: 1rem;
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.card:hover {
    transform: scale(1.01);
}

.card a {
    text-decoration: none;
    color: #df217d;
}

.card a.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #df217d;
    color: #fff;
    border-radius: 0.25rem;
}

.card a.btn:hover {
    background-color: #df217d;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;   
}

.movies-screen{
  display: flex;
  justify-content: space-evenly;
}

.main_card {
	color: #fff;
	width: 680px;
	height: 330px;
	margin: 50px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  border-radius: 5px;
	max-width: 770px;
	background-color:rgba(250, 232, 239, 0.2);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 90%;
}

.card_details {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}

.card_details h1 {
  color: #fbebf0;
  font-family: "Lexend", sans-serif;
	font-size: 30px;
}

.card_right img {
	height: 310px;
	border-radius: 2px;
  margin: 5px;
}

.card_right {
  display: flex;
  align-items: center;
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.PG, .year, .genre, .time {
	color: #f6a8ce;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.PG {
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
	        box-shadow: 0 0 50px rgba(0,0,0,0.1);
	-webkit-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

.disc {
	font-weight: 100;
	line-height: 27px;
  max-height: 100px; 
  overflow: hidden; 
  position: relative;
  line-height: 1.5; 
  color: #f2f2f6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.disc::after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.5em; 
  padding: 0 10px; 
  box-sizing: border-box;
  pointer-events: none; 
}

.card_left a{
	color: #ddd;
	display: block;
	text-decoration: none;
}

.social-btn {
	margin-left: -10px;
}

button {
	color: #fff;
	border: none;
	padding: 20px;
	outline: none;
	font-size: 12px;
	margin-top: 30px;
	margin-left: 10px;
	border-radius: 12px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

button:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.fa-play-circle {
	color: #255;
	font-size: 160px;
	margin-top: 110px;
	-webkit-animation: bounce 1.0s -0.4s infinite;
	        animation: bounce 1.0s -0.4s infinite;
}

.fa-play-circle:hover {
	color: aqua;
	animation: bounce 0.4s infinite;
}

@-webkit-keyframes bounce {
	8% {
		transform: scale(0.8);
		opacity: 1;
	}
	20% {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes bounce {
	8% {
		transform: scale(0.8);
		opacity: 1;
	}
	20% {
		transform: scale(2);
		opacity: 0;
	}
}
