{% extends 'cinemas/base.html' %}

{% block content %}

<h2 style="text-align: center; color:ghostwhite; font-family: 'Lexend', sans-serif;">Todos as sessoes</h2>

<div class="container">
    <div class="card-container">
        {% for session in sessions %}
        <div class="card">
            <h2>{{ session.movie.title }}</h2>
            <h5>{{ session.cinema }}</h5>
            <h3><a href="{% url 'tickets' session.id %}">tickets da sessao</a></h3>
            <h3><a href="{% url 'deleteSession' session.id %}">deletar sessao</a></h3>
            <h3><a href="{% url 'edit_session_step1' session.id %}">editar sessao</a></h3>
        </div>
        {% empty %}
        <div class="card">
            <p>Não há sessoes registradas</p>
        </div>
        {% endfor %}
    </div>
</div>

{% if user.is_superuser %}
    <a class="menu2" href="{% url 'new_session_step1' %}">Adicionar nova sessao</a>
{% endif %}

{% endblock %}
