{% extends 'cinemas/base.html' %}

{% block content %}

<h2 style="text-align: center; color:ghostwhite; font-family: 'Lexend', sans-serif;">Todas as sessoes</h2>

<div class="container">
    <div class="card-container" style="padding-top: 15px;">
        {% for session in sessions %}
        <div class="card" style="width: 350px;">
            <h2 style="padding-bottom: 15px;">{{ session.movie.title }}</h2>
            <h5>{{ session.cinema }}</h5>
            <h5>{{ session.date }}  |  {{ session.hour }}</h5>
            <h3 style="padding-top: 10px;"><a href="{% url 'tickets' session.id %}" style="padding-bottom: 15px;">Comprar ticket</a></h3>
            {% if user.is_superuser %}
            <h3 style="padding-top:15px;"><a href="{% url 'edit_session_step1' session.id %}" style="color: rgb(94, 2, 41);">Editar sessao</a></h3>
            <h3 style="padding-top: 5px;"><a href="{% url 'deleteSession' session.id %}" style="color: rgb(88, 3, 39);">Deletar sessao</a></h3>
            {% endif %}
        </div>
        {% empty %}
        <div class="card">
            <p>Não há sessoes registradas</p>
        </div>
        {% endfor %}
    </div>
</div>

{% if user.is_superuser %}
    <a class="menu2" href="{% url 'new_session_step1' %}">Adicionar nova sessao</a>
{% endif %}

{% endblock %}
