{% extends 'cinemas/base.html' %}
{% block content %}

<div class="perfil">
    <div class="submenu">
        <h1>Cupons</h1>
        <button class="buttonperfil">
            <a href="{% url 'coupons' %}">Todos os cupons</a><br>
        </button>
    </div>
    <div class="submenu">
        <h1>Usuários</h1>
        <button class="buttonperfil">
            <a href="{% url 'user' %}">Todos os Usuários</a><br>
        </button>
        <button class="buttonperfil">
            <a href="{% url 'registerStaff' %}">Registrar Staff</a><br>
        </button>
    </div>
</div>

{% endblock content %}