{% extends 'cinemas/base.html' %}
{% block content %}

<div class="perfil">
    <div class="submenu">
        <h1>Profile</h1>
        <button class="buttonperfil">
            <a href="{% url 'editProfile' %}">Editar Perfil</a>
        </button>
    </div>
    <div class="submenu">
        <h1>Tickets</h1>
        <button class="buttonperfil">
            <a href="{% url 'activeTickets' %}">Tickets ativos</a><br>
        </button>
        <button class="buttonperfil">
            <a href="{% url 'ticketHistory' %}">Histórico</a><br>
        </button>
        <button class="buttonperfil">
            <a href="{% url 'cancelledTicket' %}">Tickets Cancelados</a>
        </button>
    </div>
    <div class="submenu">
        <h1>Wallet</h1>
        <button class="buttonperfil">
            <a href="{% url 'walletDetail' %}">Carteira</a><br>
        </button>
        <button class="buttonperfil">
            <a href="{% url 'recharge' %}">Recarregar Saldo</a>
        </button>
    </div>
</div>

{% endblock content %}