{% extends 'cinemas/base.html' %}
{% block content %}

<div class="container">
    <a href="{% url 'registerStaff' %}" style="color: azure;">Register Staff</a>
    <a href="{% url 'myTickets' %}">confira seus tickets</a>
    <ul style="display: grid;">
        {% for user in users %}
        <li>
            {{user}}
            <p>staff: {{user.is_staff}}</p>
            <p>super: {{user.is_superuser}}</p>
            <a href="{% url 'editStaff' user.id %}">editar usuário</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}